{% extends "base.html" %} {% block content %}
<h1> Signup </h1>
<form action='/adduser' method="post">
  <label>Username
    <input type='text' name="username" />
  </label> {% if error == 'Please fill in the username.' %}
  <p class='error'>{{error}}
  </p>
  {% endif %} {% if error == 'Usernames can not contain spaces and must be between 3-20 characters long.' %}
  <p class='error'>{{error}}</p>
  {% endif %}

  <label>Password
    <input type='password' name='password' />
  </label> {% if error == 'Please fill in the password.' %}
  <p class='error'>{{error}}</p>
  {% endif %}


  <label>Verify Password
    <input type='password' id='verify' name='verify' />
  </label> {% if error=='Please verify your password.' %}
  <p class='error'>{{error}}</p>{% endif %} {% if error == 'Passwords do not match. Please try again.' %}
  <p class='error'> {{error}}</p>
  {% endif %} {% if error == 'Passwords can not contain spaces and must be between 3-20 characters long.' %}
  <p class='error'>{{error}}</p> {% endif %}


  <label>Email (optional)
    <input type='text' id='email' name='email'/>
  </label> {% if error == 'Not a valid email.' %}
  <p class='error'>{{error}}</p>
  {% endif %}
  <!--{% if error %}
  <p class='error'>{{error}}</p> {% endif %}-->
  <input type='submit' value="Submit" />
</form>

<!--{% if error %}
<p class='error'>{{ error }}</p>
{% endif %} {% endblock %}-->
