{% extends "base.html" %} {% block content %}
<h1> Signup </h1>
<form action='/adduser' method="post">
  <label>Username
    <input type='text' name="username" />
  </label>

  <label>Password
    <input type='password' name='password' />
  </label>
  <label>Verify Password
    <input type='password' id='verify' name='verify' />
  </label>
  <label>Email (optional)
    <input type='email' id='email' name='email'/>
  </label>
  <input type='submit' value="Submit" />
</form>

{% if error %}
<p class='error'>{{ error }}</p>
{% endif %} {% endblock %}
